* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "arial", sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30 px;
    margin-top: 14px;
    
  }
  nav a {
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.87);
    cursor: pointer;
    padding: 5px 6.7px;
  }
  nav a:hover {
    text-decoration: underline;
    opacity: 0.85;
  }
  nav img {
    width: 24px;
    padding: 5px;
    margin: auto 7px;
    cursor: pointer;
    opacity: 0.70;
   
  }

  button{
     border-radius: 2px;
     margin-right: 20px;
  }

  nav img:hover {
    opacity: 0.85;
  }
  nav button {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: #fff;
    padding: 7px 12px;
    margin-left: 7px;
    cursor: pointer;
  }
  .section {
    flex: 1;
  }
  .section .logo {
    display: block;
    margin: 0px auto;
    margin-top: 107px;
  }
  .box {
    width: 580px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
  }
  .box .input {
    display: block;
    border: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width: 100%;
    transition: box-shadow 100ms;
    outline: none;
  }
  .box .input:hover {
    border: 1px solid #fff;
    box-shadow: 1px 2px 16px -5px rgba(107,107,107,1);
  }
  .box .search-icon {
    width: 20px;
    opacity: 0.4;
    position: absolute;
    top: 13px;
    left: 14px;
    cursor: pointer;
  }
  .box .volice {
    width: 22px;
    position: absolute;
    top: 13px;
    right: 24px;
    cursor: pointer;
  }
  .btn {
    border: 1px solid transparent;
    padding: 9px 15px;
    color: #666;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    transition: border-color 100ms;
  }
  .btn:hover {
    border: 1px solid #aaa;
  }
 
  footer {
    background: #f2f2f2;
  }

  footer a {
    color: #5f6368;
    display: inline-block;
    padding: 12px 11.3px;
    font-size: 14px;
  }
  footer a:hover {
    text-decoration: underline;
  }
  .links {
    border-top: 1px solid#ddd;
    display: flex;
  }
  .link-1 {
    padding-left: 18.7px;
    flex: 1;
  }
  .link-2 {
    padding-right: 18.7px;
  }
  